<app-header-site></app-header-site>
<main>
    <section data-name="address">
        <div data-name="holder">
            <div data-name="top">
                <span>Bitcoin Address</span>
                <strong>1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</strong>
                <div data-name="details">
                    <div data-name="info">
                        <strong>Balance: </strong>
                        <span>10 BTC</span>
                    </div>
                    <div data-name="info">
                        <strong>Transactions: </strong>
                        <span>150000</span>
                    </div>
                </div>
            </div>
            <div data-name="bottom">
                <span>Transactions (150000)</span>
                <div data-name="transactions">
                    <a href="javascript:void(0);" data-name="transaction"  *ngFor="let transaction of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                        <div data-name="logo"></div>
                        <div data-name="overview">
                            <strong>a6219d47d1113bd9e27d505171b28bbd60150b17361dfa3c49d76c4d4a51c7a2</strong>
                            <div data-name="details">
                                <div data-name="info">
                                    <strong>Fee: </strong>
                                    <span>5 satoshi</span>
                                </div>
                                <div data-name="info">
                                    <strong>Block Height: </strong>
                                    <span>5392933</span>
                                </div>
                                <div data-name="info">
                                    <strong>Monday, October 21, 2013 10:40:16 AM</strong>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div data-name="amount">
                            <span>15.392 BTC</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
