<app-header-site></app-header-site>
<main>
    <section data-name="address">
        <div data-name="holder">
            <div data-name="bitcoin-background"  *ngIf="!(addressTransactionsData.data && addressTransactionsData.data.list) || !(addressData.data && addressData.data.address)"></div>
            <div data-name="top" *ngIf="addressData.data && addressData.data.address">
                <ngx-qrcode [value]="addressData.data.address"></ngx-qrcode>
                <span>Bitcoin Address</span>
                <strong>{{addressData.data.address}}</strong>
                <div data-name="details">
                    <div data-name="info">
                        <strong>Balance: </strong>
                        <span>{{addressData.data.balance/BTCUnits.SATOSHIS}} BTC</span>
                    </div>
                    <div data-name="info">
                        <strong>Transactions: </strong>
                        <span>{{addressData.data.tx_count}}</span>
                    </div>
                </div>
            </div>
            <div data-name="bottom" *ngIf="addressTransactionsData.data && addressTransactionsData.data.list">
                <span>Transactions ({{addressTransactionsData.data.total_count}})</span>
                <div data-name="transactions">
                    <a [href]="'/bitcoin/transaction?tx=' + tx.hash" data-name="transaction"  *ngFor="let tx of addressTransactionsData.data.list">
                        <div data-name="logo"></div>
                        <div data-name="overview">
                            <strong>{{tx.hash}}</strong>
                            <div data-name="details">
                                <div data-name="info">
                                    <strong>Fee: </strong>
                                    <span>{{tx.fee/BTCUnits.SATOSHIS}} BTC</span>
                                </div>
                                <div data-name="info">
                                    <strong>Block Height: </strong>
                                    <span>{{tx.block_height}}</span>
                                </div>
                                <div data-name="info">
                                    <strong>Confirmations: </strong>
                                    <span>{{tx.confirmations}}</span>
                                </div>
                                <div data-name="info">
                                    <strong>{{ getDate(tx.block_time) }}</strong>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div data-name="amount">
                            <span>{{tx.balance_diff/BTCUnits.SATOSHIS}} BTC</span>
                        </div>
                    </a>
                </div>
                <app-button *ngIf="page < pagetotal" [text]="'View More Transactions'" (clickEvent)="fetchMoreAddressTransactionsAndRender()" [isLoading]="isFetching" [loadText]="'Retrieving Transactions'" [loadIndicator]="true" [disabled]="isFetching"></app-button>
            </div>
        </div>
    </section>
</main>

<app-loading-indicator-view *ngIf="isFetching"></app-loading-indicator-view>
