div[data-name="checkbox"] {
  cursor: pointer;
  white-space: nowrap;
  div[data-name="check"] {
      display: inline-block;
      vertical-align: middle;
      width: 1.5rem;
      height: 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('/assets/module-shared/elements/input-circle/check-off.svg');
  }
  span {
    margin: 0 0.3rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.95rem;
    position: relative;
    top: -0.1rem;
    color: #47494A;
    white-space: normal;
  }
  &.checked {
    div[data-name="check"] {
      background-image: url('/assets/module-shared/elements/input-circle/check-on.svg');
    }
  }
  &.disabled {
    &:not(.checked) {
      span {
        color: #949799;
      }
    }
  }
}
