<app-header-site></app-header-site>
<main>
    <section data-name="transaction">
        <div data-name="holder">
            <div data-name="top">
                <span>Bitcoin Transaction</span>
                <strong>a6219d47d1113bd9e27d505171b28bbd60150b17361dfa3c49d76c4d4a51c7a2</strong>
                <div data-name="details">
                    <div data-name="info">
                        <strong>10 BTC</strong>
                    </div>
                    <div data-name="info">
                        <strong>Fee: </strong>
                        <span>100 SATS</span>
                    </div>
                    <div data-name="info">
                        <strong>Block: </strong>
                        <span>395953</span>
                    </div>
                </div>
            </div>
            <div data-name="bottom">
                <span>Details</span>
                <div data-name="overview">
                    <div data-name="left">
                        <strong>From</strong>
                        <div data-name="inputs">
                            <div data-name="input">
                                <a href="javascript:void(0);">1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</a>
                                <span>1.0000 BTC</span>
                            </div>
                        </div>
                    </div>
                    <div data-name="right">
                        <strong>To</strong>
                        <div data-name="outputs">
                            <div data-name="output">
                                <a href="javascript:void(0);">1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</a>
                                <span>1.0000 BTC</span>
                            </div>
                            <div data-name="output">
                                <a href="javascript:void(0);">1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</a>
                                <span>1.0000 BTC</span>
                            </div>
                            <div data-name="output">
                                <a href="javascript:void(0);">1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</a>
                                <span>1.0000 BTC</span>
                            </div>
                            <div data-name="output">
                                <a href="javascript:void(0);">1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</a>
                                <span>1.0000 BTC</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
