<app-header-site></app-header-site>
<main>
    <section data-name="transaction">
        <div data-name="holder">
            <div data-name="bitcoin-background"  *ngIf="!transactionData.hash"></div>
            <div data-name="top" *ngIf="transactionData.hash">
                <span>Bitcoin Transaction</span>
                <strong>{{transactionData.hash}}</strong>
                <div data-name="details">
                    <div data-name="info">
                        <strong>-- BTC</strong>
                    </div>
                    <div data-name="info">
                        <strong>Fee: </strong>
                        <span>{{transactionData.fee/BTCUnits.SATOSHIS}} BTC</span>
                    </div>
                    <div data-name="info">
                        <strong>Block: </strong>
                        <span>{{transactionData.block_height || "--"}}</span>
                    </div>
                </div>
            </div>
            <div data-name="bottom" *ngIf="transactionData.hash">
                <span>Details</span>
                <div data-name="overview">
                    <div data-name="left">
                        <strong>From</strong>
                        <div data-name="inputs">
                            <div data-name="input" *ngFor="let input of transactionData.inputs">
                                <a [href]="'/bitcoin/address?addr='+ input.prev_out.addr">{{input.prev_out.addr}}</a>
                                <span>{{input.prev_out.value/BTCUnits.SATOSHIS}} BTC</span>
                            </div>
                        </div>
                    </div>
                    <div data-name="right">
                        <strong>To</strong>
                        <div data-name="outputs">
                            <div data-name="output"*ngFor="let output of transactionData.out">
                                <a [href]="'/bitcoin/address?addr='+ output.addr">{{output.addr}}</a>
                                <span>{{output.value/BTCUnits.SATOSHIS}} BTC</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-loading-indicator-view *ngIf="isFetching"></app-loading-indicator-view>
