input {
  border: 0.15rem solid #F5F8FA;
  border-radius: 0.3rem;
  padding: 0.8rem 0.5rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #F5F8FA;
  transition: border-color 0.3s ease;
  font-size: 0.9rem;
  
  &:focus {
    border-color: #00ace2;
    transition: border-color 0.3s ease;
  }

  &::placeholder {
      color: #6F6F6F;
  }

  &[readonly] {
      color: #CCCCCC;
  }
}
