<header>
    <div data-name="holder">
        <div data-name="logo"></div>
        <div data-name="field">
            <app-input-text placeholder="Search by bitcoin address to view transactions..."></app-input-text>
        </div>
        <a href="javascript:void(0);" data-name="menu" (click)="openSidebar()">
            <div data-name="icon"></div>
        </a>
    </div>
</header>

<div data-name="popup-sidebar" [ngClass]="{visible:isSideBarVisible}">
    <div data-name="overlay" (click)="hideSidebar()"></div>
    <div data-name="sidebar">
        <strong>My Bitcoin Addresses</strong>
        <!-- <p>You have not yet added any addresses to track.</p> -->
        <div data-name="addresses">
            <div data-name="address" *ngFor="let address of [0,1,2,3,4];  let i = index">
                <div data-name="icon"></div>
                <a href="javascript:void(0);" data-name="address">1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</a>
                <a href="javascript:void(0);" data-name="remove"  (click)="openRemovePopup(i)">remove</a>
            </div>
        </div>
        <a href="javascript:void(0);" data-name="button" (click)="openAddPopup()">Add Address</a>
    </div>
</div>


<div data-name="popup-add" [ngClass]="{visible:isPopupAddVisible}">
    <div data-name="overlay" (click)="hidePopups()"></div>
    <div data-name="popup">
        <strong>Add Bitcoin Address</strong>
        <p>Enter the bitcoin address that you would like to start tracking. Tracked bitcoin addresses will allow you view balances, and synchronize transactions.</p>
        <app-input-text></app-input-text>
        <div data-name="options">
            <a href="javascript:void(0);">Track Address</a>
        </div>
    </div>
</div>

<div data-name="popup-remove" [ngClass]="{visible:isPopupRemoveVisible}">
    <div data-name="overlay" (click)="hidePopups()"></div>
    <div data-name="popup">
        <strong>Remove Bitcoin Address</strong>
        <p>Would you like to stop tracking the following address? <strong>1FwYmGEjXhMtxpWDpUXwLx7ndLNfFQncKq</strong></p>
        <div data-name="options">
            <a href="javascript:void(0);">Yes</a>
            <a href="javascript:void(0);">No</a>
        </div>
    </div>
</div>