@import "../../../../styles-variables";

header {
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #FFFFFF;
  border-bottom: 0.05rem solid #E4E4E4;

  div[data-name="holder"] {
    width: 95%;
    margin: 0 auto;
    max-width: 64rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit; 
    @media (min-width: $maxDesktop) {
      max-width: 80rem;
    }

    div[data-name="logo"] {
      width: 9rem;
      height: 5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('/assets/module-shared/headers/header/logo.svg');
    }

    div[data-name="field"] {
      max-width: 40rem;
      width: 100%;
      app-input-text {
        max-width: 40rem;
        width: 90%;
      }
    }

    a[data-name="menu"] {
      width: 5rem;
      height: 5rem;
      text-align: center;
      box-sizing: border-box;
      padding: 1.3rem 0 0 0;
      div {
        width: 2rem;
        height: 2rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/assets/module-shared/headers/header/menu.svg');
        display: inline-block;
      }
    }
  }
  
}

div[data-name="popup-sidebar"] {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0; 
  width: 100vw;
  height: 100vh;
  display: none;
  &.visible {
    display: block;
  }
  div[data-name="overlay"] {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.8);
  }
  div[data-name="sidebar"] {
    position: absolute;
    z-index: 2;
    width: 40%;
    height: inherit; 
    background-color: #FFFFFF;
    right: 0;
    box-sizing: border-box;
    padding: 2rem;
    overflow-y: auto;
    & > strong {
      font-size: 1.1rem;
      display: block;
      text-decoration: none;
      text-align: center;
      margin: 0 0 0.5rem 0;
      color: #7E7E7E;
    }
    & > p {
      font-size: 0.9rem;
      display: block;
      text-decoration: none;
      text-align: center;
      margin: 0 0 1rem 0;
      color: #B9B7B7;
    }
    & > div[data-name="addresses"] {
      margin: 0 0 2rem 0;
      & > div[data-name="address"] {
        padding: 1rem 0;
        &:not(:last-child) {
          border-bottom: 0.05rem solid #EEEEEE;
        }
        div[data-name="icon"] {
          display: inline-block;
          margin: 0 0.5rem 0 0;
          width: 2rem;
          height: 2rem;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(/assets/module-shared/headers/header/bitcoin-icon.svg);
          vertical-align: middle;
        }
        a[data-name="address"] {
          font-size: 0.9rem;
          text-decoration: none;
          color: #0182FF;
          display: inline-block;
          margin: 0 0 0.5rem 0;
          vertical-align: middle;
        }
        a[data-name="remove"] {
          font-size: 0.8rem;
          text-decoration: none;
          color: #666666;
          display: block;
          text-align: right;
        }
      }
    }
    & > a[data-name="button"] {
      display: block;
      max-width: 30rem;
      width: 80%;
      padding: 1rem;
      border-radius: 2rem;
      text-align: center;
      background-color: #0182FF;
      color: #FFFFFF;
      font-size: 0.8rem;
      margin: 0 auto;
      text-decoration: none;
    }
  }
}

div[data-name="popup-remove"],
div[data-name="popup-add"] {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0; 
  width: 100vw;
  height: 100vh;
  display: none;
  &.visible {
    display: block;
  }
  div[data-name="overlay"] {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.8);
  }
  div[data-name="popup"] {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -15%;
    top: 15%;
    border-radius: 1rem;
    width: 30rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 2rem;
    & > strong {
      display: block;
      text-align: center;
      margin: 0 0 0.5rem 0;
    }
    & > p {
      font-size: 0.9rem;
      line-height: 1.5;
      text-align: center;
      margin: 0 0 1rem 0;
      display: block;
    }
    app-input-text {
      display: block;
      margin: 0 0 2rem 0;
    }
    a[data-name="button"] {
      display: inline-block;
      padding: 1rem 3rem;
      border-radius: 2rem;
      text-align: center;
      background-color: #0182FF;
      color: #FFFFFF;
      font-size: 0.8rem;
      margin: 0 auto;
      text-decoration: none;
      &.disabled {
        background-color: #BDBDBD;
        color: #7D7C7C;
      }
      &.alt {
        background-color: #BDBDBD;
        color: #666666;
      }
    }
    div[data-name="option"] { 
      a[data-name="button"] {
        display: block;
        width: 80%;
      }
    }
    div[data-name="options"] { 
      text-align: center;
      a[data-name="button"] {
        display: inline-block;
        margin: 0 1rem;
      }
    }

  }
}