<header>
    <div data-name="holder">
        <div data-name="logo"></div>
        <div data-name="field">
            <app-input-text [(inputField)]="fieldSearch" (inputFieldEnter)="search()" placeholder="Search by bitcoin address... (Press enter to search)"></app-input-text>
        </div>
        <a href="javascript:void(0);" data-name="menu" (click)="openSidebar()">
            <div data-name="icon"></div>
        </a>
    </div>
</header>

<div data-name="popup-sidebar" [ngClass]="{visible:isSideBarVisible}">
    <div data-name="overlay" (click)="hideSidebar()"></div>
    <div data-name="sidebar">
        <strong>My Bitcoin Addresses</strong>
        <p *ngIf="trackedAddresses.length === 0">You have not yet added any addresses to track.</p>
        <div data-name="addresses" *ngIf="trackedAddresses.length > 0">
            <div data-name="address" *ngFor="let address of trackedAddresses;  let i = index">
                <div data-name="icon"></div>
                <a [href]="'/bitcoin/address?addr=' + address" data-name="address">{{address}}</a>
                <a href="javascript:void(0);" data-name="remove"  (click)="openRemovePopup(i)">remove</a>
            </div>
        </div>
        <a href="javascript:void(0);" data-name="button" (click)="openAddPopup()">Add Address</a>
    </div>
</div>


<div data-name="popup-add" [ngClass]="{visible:isPopupAddVisible}">
    <div data-name="overlay" (click)="hidePopups()"></div>
    <div data-name="popup">
        <strong>Add Bitcoin Address</strong>
        <p>Tracked bitcoin addresses will allow you view balances, and synchronize transactions.</p>
        <app-input-text [(inputField)]="fieldAddAddress" placeholder="Enter BTC address here..."></app-input-text>
        <div data-name="option">
            <a href="javascript:void(0);" data-name="button" [ngClass]="{disabled:!canAddAddress()}" (click)="addAddress()">Track Address</a>
        </div>
    </div>
</div>

<div data-name="popup-remove" [ngClass]="{visible:isPopupRemoveVisible}">
    <div data-name="overlay" (click)="hidePopups()"></div>
    <div data-name="popup">
        <strong>Remove Bitcoin Address</strong>
        <p>Would you like to stop tracking the following address? <strong>{{this.trackedAddresses[this.fieldRemoveAddressIndex]}}</strong></p>
        <div data-name="options">
            <a href="javascript:void(0);" data-name="button" (click)="removeAddress()">Yes</a>
            <a href="javascript:void(0);" data-name="button" class="alt" (click)="hidePopups()">No</a>
        </div>
    </div>
</div>