@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

div[data-name="loading-indicator"] {
    max-width: 2.5rem;
    max-height: 2.5rem;
    width: 100%;
    height: 100%;
    animation: rotation 0.5s infinite linear;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/module-shared/elements/loading-indicator/loading-indicator-dark.svg');
}
