@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/module-shared/fonts/helveticaneue/HelveticaNeue-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/assets/module-shared/fonts/helveticaneue/HelveticaNeue-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/assets/module-shared/fonts/helveticaneue/HelveticaNeue-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("/assets/module-shared/fonts/helveticaneue/HelveticaNeue-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("/assets/module-shared/fonts/helveticaneue/HelveticaNeue-Thin.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/module-shared/fonts/helveticaneue/Montserrat-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("/assets/module-shared/fonts/helveticaneue/Montserrat-Light.ttf")
    format("truetype");
}
