// Fonts
$fontFamilyRegular: "Helvetica Neue";
$fontFamilyBold: "Helvetica Neue Bold";
$fontFamilyBoldMontserrat: "Montserrat";
$fontFamilyMon: "Montserrat Light";
$fontFamilyMedium: "Helvetica Neue Medium";
$fontFamilyLight: "Helvetica Neue Light", Helvetica, sans-serif;
$fontFamilyThin: "Helvetica Neue Thin", Helvetica, sans-serif;

// Breakpoints
$breakpointTablet: 64em;
$breakpointMobile: 40em;

// Site Breakpoints
$tablet: 64em;
$mobile: 60em;
$mobileHeight: 40em;
$maxDesktop: 80em;
$ultrawideDesktop: 104em;
$contentMobileBreak: 64em;
