@import '../../../../styles-variables';

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[data-name="field-wrapper"] {
  width: 100%;
  position: relative;

  div[data-name="selected"] {
    box-sizing: border-box;
    border: 0.15rem solid #ebebeb;
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
    width: inherit;
    position: relative;
    min-height: 3.4375rem;

    &::after {
        width: 0.8rem;
        height: 0.8rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(/assets/module-shared/elements/input-select-dropdown/down-chevron.svg);
        content: ''; 
        position: absolute; 
        right: 1rem;
        top: 1.2rem;
    }

    &.loading {
      &:after {
        display: none;
      }
      div[data-name="loading-wrapper"] { 
        display: block;
      }
    }

    &.open {
        background-color: #FAFAFA;
        &::after {
            transform: rotate(180deg);
        }
    }

    div[data-name="icon"] {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        // border-radius: 1.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        // background-color: #DDDDDD;
        margin: 0 0.5rem 0 0;
        vertical-align: middle;
    }
    div[data-name="details"] {
        display: inline-block;
        vertical-align: middle;
        strong {
            vertical-align: middle;
            font-size: 0.8rem;
            font-family: $fontFamilyMedium;
            display: block;
            margin: 0 0 0.3rem 0;
            color: #505050;
        }
        small {
            display: block;
            color: #949494;
            font-size: 0.75rem;
        }
    }

    div[data-name="loading-wrapper"] {
      position: absolute;
      left: 1rem;
      top: 1rem;
      display: none;
      opacity: 0.8;
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.7rem;
        color: #9b9b9b;
        margin: 0 0.5rem;
      }
      div[data-name="loading-indicator"] {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        vertical-align: middle;
        animation: rotation 0.8s infinite linear;
        border: 2px solid #DDDDDD; /* track */
        border-top: 2px solid #FFFFFF; // thumb
        border-radius: 50%;
      }
    }
  }

  div[data-name="options"] {
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 8px 23px 0 rgba(0 ,0, 0, 0.08);
    border-radius: 0.5rem;
    position: absolute;
    top: 4rem;
    left: 0;
    border: 0.05rem solid #DDDDDD;
    z-index: 2;
    overflow: hidden;
    div[data-name="option"] {
      padding: 0.5rem;
      box-sizing: border-box;
      cursor: pointer;
      &:hover, &.selected {
        background-color: #FAFAFA;
      }
      &:not(:last-child) {
        border-bottom: 0.05rem solid #DDDDDD;
      }
      div[data-name="icon"] {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        // border-radius: 1.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        // background-color: #DDDDDD;
        margin: 0 0.5rem 0 0;
        vertical-align: middle;
      }
      div[data-name="details"] {
        display: inline-block;
        vertical-align: middle;
        strong {
          vertical-align: middle;
          font-size: 0.8rem;
          font-family: $fontFamilyMedium;
          display: block;
          margin: 0 0 0.3rem 0;
          color: #505050;
        }
        small {
          display: block;
          color: #949494;
          font-size: 0.7rem;
        }
      }
    }
  }
}
